body {
  background-image: url(./math.jpg);
  background-size: 1400px 708px;
  background-position-y: -50px;
}
.App {
  margin: auto;
  margin-top: 50px;
  border: solid;
  width: 500px;
  height: 500px;
  background-color: rgba(122, 96, 96, 0.692);
}
